@{
    Layout = null;
}
<div class="modal-header">
    <h4 class="modal-title"><i class="fa fa-3x fa-hacker-news"></i> </h4>
</div>
<div class="modal-body">
    <user-selector properties="vm.properties" funcobj="vm.objFuncs" actions="vm.actions"></user-selector>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="vm.cancel()">@L("Close")</button>
</div>