@{
    Layout = null;
}
<form name="createOrgUnit" ng-submit="vm.submit(this)">
    <div class="modal-header">
        <h4 class="modal-title"><i class="fa fa-3x fa-hacker-news"></i> </h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label class="control-label">@L("Name")</label>
            <input type="text" name="orgUnit.displayName" required class="form-control" ng-model="vm.orgUnit.displayName">
            <p ng-show="createOrgUnit.orgUnit.displayName.$invalid">The name is required.</p>
            
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit">@L("Save")</button>
        <button class="btn btn-warning" type="button" ng-click="vm.cancel()">@L("Close")</button>
    </div>
</form>
