<div class="container">
    <article class="article">
        <section class="article__content">
            <div class="row">
                <div class="col col-xs-8">
                    <div data-editable data-name="article">
                        <h3>Lorem</h3>
                        <p>
                            Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                        </p>
                    </div>
                </div>
                <div class="col col-md-4 col-xs-12">
                    <div class="row">
                        <div class="col-xs-12">
                            <div data-editable data-name="article_right_side">
                                <h4>Lorem</h4>
                                <p>
                                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                                </p>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div>
                                <h4>News Feed</h4>
                                <p>
                                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                                </p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

        </section>
    </article>

</div>

