@model Cinotam.ModuleZero.AppModule.MultiTenancy.Dto.TenantViewModel
@{
    ViewBag.Title = "TenantCharts";
}

<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa-fw fa fa-gear"></i>
                @L("Tenants")
                <span>
                    &gt;
                    @L("TenantChartsFor") <strong>@Model.Name</strong> 
                </span>
            </h1>
        </div>
    </div>
    
    
    
    
    

</div>