
<article class="article">
    <section class="article__content">
        <div class="row">
            <div class="col col-md-4 col-xs-12">
                <div data-editable data-name="article">
                    <h3>Jhon Doe.</h3>
                    <img src="http://www.american.edu/uploads/profiles/large/chris_palmer_profile_11.jpg" class="img-responsive img-circle"/>

                </div>
            </div>
            <div class="col col-md-8 col-xs-12">
                <div data-editable data-name="article_right_side">
                    <h4>Lorem</h4>
                    <p>
                        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12 col-xs-12">
                <div data-editable data-name="articleBody">
                    <h3>Lorem Ipsum</h3>
                    <p>
                        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                    </p>
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div data-editable data-name="articleFooter">
                    <p>
                        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
                    </p>
                </div>
            </div>
        </div>
    </section>
</article>

