<div ng-controller='app.views.languages.index as vm'>
    <h1>@L("Languages")</h1>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">@L("Languages")
                <button ng-click='vm.createEditLanguage()' type="button" class="btn btn-default btn-xs pull-right">@L("AddLanguage")</button>
            </h3>
        </div>
        <div class="panel-body">
            <abp-cinotam-table btn-position-class="" server-side='vm.serverSide' col-defs='vm.colDefs' default-search="vm.defaultSearchPropery"
                url="vm.url" push-actions-on-the-left="true" table="vm.table" properties="vm.properties" funcobj="vm.objFuncs"
                actions="vm.actions"></abp-cinotam-table>
        </div>
    </div>
</div>