@using Cinotam.AbpModuleZero.Authorization
@model Cinotam.Cms.App.Pages.Dto.PageViewOutput
@{
    ViewBag.Title = "Page";
}
<link href="~/css/pageViewStyle.css" rel="stylesheet" />

@if (IsGranted(PermissionNames.Pages))
{
    <div class="alert alert-info">
        <p>You can edit this page</p>
        <a class="btn btn-primary btn-sm" href="@Url.Action("PageEditor", new {id = Model.Id, Lang = Model.Lang})">Click to edit</a>
    </div>
}
@Html.Raw(Model.HtmlContent)
