<div ng-controller="app.views.roles.index as vm">
    <h1>@L("Roles")</h1>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <abp-cinotam-table btn-position-class="" default-search="vm.defaultSearchPropery" url="vm.url" push-actions-on-the-left="true"
                        table="vm.table" properties="vm.properties" funcobj="vm.objFuncs" actions="vm.actions"></abp-cinotam-table>
                </div>
            </div>
        </div>
    </div>
</div>