<div class="container">
    <div class="row">
        <div class="col-xs-12">

            <div class="alert alert-info">
                @L("RecoveryMessageSent")
            </div>
        </div>
    </div>
</div>