@{
    ViewBag.Title = "AddAttachment";
}
<div class="row">
    <div class="col-xs-4">
        <form role="form" enctype="multipart/form-data" action="@Url.Action("AddAttachment",new {id = ViewBag.Id})" method="post">
            <div class="form-group">
                @Html.Hidden("Id", (int)ViewBag.Id)
                <label class="control-label">File</label>
                <input type="file" name="myFileSample" class="form-control">
            </div>
            <div class="form-group">
                <label class="control-label">File Description</label>
                <input type="text" required="required" name="description" class="form-control">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>

@{Html.RenderAction("GetAttachments",new {id = ViewBag.Id});}