
  <link rel="stylesheet" type="text/css" href="../../Scripts/contentTools/sandbox/sandbox.css">
    <link rel="stylesheet" type="text/css" href="../../Scripts/contentTools/sandbox/build/content-tools.min.css">
<article class="article">
    <section class="article__content">

        @*<h1 data-fixture data-name="article-title">
            5 rules for naming variables
        </h1>*@
        <div class="row">
            <div class="col col-xs-8">
                <div data-editable data-name="article">
                    <h3>Hola mundo</h3>
                </div>
            </div>
            <div class="col col-xs-4">
                <div data-editable data-name="article_right_side">
                    <h4>Que rollo</h4>
                </div>
            </div>
        </div>
        
    </section>
    @*<aside class="article__related">
        <div data-editable
             data-name="author"
             class="[ article__author ]  [ author ]  [ editable ]">

            <h3 class="author__about">About the author</h3>

            <img src="../../Scripts/contentTools/sandbox/author-pic.jpg"
                 alt="Anthony Blackshaw"
                 width="80"
                 class="[ author__pic ]  [ align-right ]">

            <p class="author__bio">
                Anthony Blackshaw is a co-founder of Getme, an
                employee owned company with a focus on web tech. He
                enjoys writing and talking about tech, especially
                code and the occasional Montecristo No.2s.
            </p>

        </div>
        <div data-editable
             data-name="learn-more"
             class="[ article__learn-more ]  [ learn-more ]  [ editable ]">

            <h3 data-ce-tag="static">Want to learn more?</h3>

        </div>
    </aside>*@
</article>
@section Scripts{
    <script type="text/javascript" src="../../Scripts/contentTools/sandbox/build/content-tools.js"></script>
<script type="text/javascript" src="../../Scripts/contentTools/sandbox/sandbox.js"></script>

}
