<table class="table table-responsive">
    
    <thead>
    <tr>
        <th>
            @L("UserName")
        </th>
        <th>
            @L("EmailAddress")
        </th>
        <th></th>
    </tr>    
    </thead>
    <tbody>

    <tr ng-repeat="user in vm.users">
        <td>
            {{user.userName}}
        </td>
        <td>
            {{user.emailAddress}}
        </td>
        <td>
            <a class='btn btn-primary btn-xs pull-right' ng-click='vm.onClickFunction(user.id)'><i class='fa fa-check'></i></a>
        </td>
    </tr>
    </tbody>
</table>