<div ng-controller="app.views.users.index as vm">
    <h1>@L("Users")</h1>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">@L("Users") <a ng-click="vm.createEdit()" class="btn btn-primary btn-xs pull-right">@L("AddUser")</a></div>
                <div class="panel-body">
                    <abp-cinotam-table btn-position-class="" url=vm.url push-actions-on-the-left="true" table="vm.table" properties="vm.properties" funcobj="vm.objFuncs"
                        actions="vm.actions"></abp-cinotam-table>
                </div>
            </div>
        </div>
    </div>
</div>